*.conf
*.log
*.pdf
*.aux
__pycache__/
*.py[cod]
mathnotes.tex
build*
*.png
*.user
mathnotesgui/mathnotesgui.pro.user.00aa10a
mathnotesgui/mathnotesgui.pro.user
*.euler
*.eulerc
bin
pypy*
iEuler.app
lib-pypy/
lib-python/
include
site-packages
Qt-installer-framework/
settings.toml